.lia.cache
.vscode/settings.json
Makefile.coq.conf
src/.Expr.aux
src/.Id.aux
src/.StackMachine.aux
src/.State.aux
src/.Stmt.aux
src/.vscode/settings.json

.Makefile.coq.d
Makefile.coq
_CoqProject
src/Expr.glob
src/Expr.vo
src/Expr.vok
src/Expr.vos
src/Id.glob
src/Id.vo
src/Id.vok
src/Id.vos
src/StackMachine.glob
src/StackMachine.vo
src/StackMachine.vok
src/StackMachine.vos
src/State.glob
src/State.vo
src/State.vok
src/State.vos
src/Stmt.glob
src/Stmt.vo
src/Stmt.vok
src/Stmt.vos

